.bt {
    position: relative;
    padding: 10px 40px;
    border-radius: 20px;
    background-color: #4D4D4D;
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: bold;
    margin: 10px;
    cursor: pointer;
}
.bt:hover {
    background-color: #141414;
}
.footer-plan {
   /* position: absolute;*/
    width: 100%;
    min-height: 5%;
    height: auto;
    text-align: center;
    bottom: 0%;
    padding-bottom: 10%;
    margin-bottom: 0;
    float: bottom;
}
.cont-plan {
    position: relative;
    width: 100%;
    text-align: center;
    padding: 5px 10%;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 300;
}
.title-plan h2 {
    position: relative;
    color: #FFFFFF;
    font-size: 50px;
}
.title-plan {
    position: relative;
    width: 100%;
    padding: 3% 0;
    text-align: center;
}
.col-cot2 {
    position: relative;
    text-align: center;
    width: 100%;
   /* height: 550px;*/
    padding: 0%;
    background-color: #585858;
    border: 1px solid #EEEEEE;
    border-radius: 1vw;
    margin: auto;
    -webkit-box-shadow: 0vw 0vw 2vw #000000;
    -moz-box-shadow: 0vw 0vw 2vw #000000;
    box-shadow: 0vw 0vw 2vw #000000;
}

/********MOVIL****/
@media (max-width: 768px) {
	body{
	  padding-top: 50px !important;
	}
	
	.navbar-default {   /*** CODIGO DE BOOTSTRAP * ONLY FOR PHONE**/
	  background-color: #f8f8f8 !important;
	  border-color: #e7e7e7 !important;
	} 
} 
	.container-fluid {	/*** CODIGO DE BOOTSTRAP *	DELETED FOR THIS PAGES**/
		/*  padding-right: 15px;
  		padding-left: 15px;*/
	}
	
	
 
/********DESKOT****/
@media (min-width: 768px) {
	.section{
		padding-top: 60px !important;
	}
	#menu{			/*** CODIGO DE examples * ONLY FOR DESTOK**/
		position:fixed;
		height: 40px;
	 
	}
	#menu li {  	/*** CODIGO DE examples * ONLY FOR DESTOK**/
		 display:inline-block; 
	}
}

/**********************/